In [1]:
import pandas as pd

In [2]:
menu= pd.read_csv("C:/Users/admin/Desktop/task 1-Phạm Thu Trang/menu.csv")
order_log = pd.read_csv("C:/Users/admin/Desktop/task 1-Phạm Thu Trang/order_log.csv")
cost = pd.read_csv("C:/Users/admin/Desktop/task 1-Phạm Thu Trang/cost_raw_material.csv")

In [3]:
menu.head()

  product_id  product_name    price
0       CF01   ca phe den    45000
1       CF02  Ca PHE sua      35000
2       CF03      Bac  xiu    35000
3       CF04      tra dao    45000
4      CF05   Sinh to xoai      30k

In [4]:
order_log.head()

  order_id product_id        order_time qty
0   OD2000       CF05  2024-01-01 05:58  2x
1   OD2001       CF04  2024-01-01 11:45  2x
2   OD2002       CF03  2024-01-01 14:12   2
3   OD2003       CF03  2024-01-01 06:16   2
4   OD2004       CF02  2024-01-01 04:55   1

In [5]:
cost.head()

  product_id unit_cost
0       CF01      8000
1       CF02     15000
2       CF03       12k
3       CF04     9000
4       CF05     15000

### Chuẩn hóa product_id và tên món

**Tổng quan dữ liệu**

In [6]:
menu.dtypes

product_id      object
product_name    object
price           object
dtype: object

 **chuẩn hóa product_id**

In [7]:
menu["product_id"] = (
    menu["product_id"]
    .astype(str)# đảm bảo dữ liệu là chuỗi 
    .str.strip()#xóa khoảng trắng thừa
)
print(menu.head())

  product_id  product_name    price
0       CF01   ca phe den    45000
1       CF02  Ca PHE sua      35000
2       CF03      Bac  xiu    35000
3       CF04      tra dao    45000
4       CF05  Sinh to xoai      30k

 **chuẩn hóa tên món**

In [8]:
menu["product_name"] = (
    menu["product_name"]
    .astype(str)
    .str.strip()
    .str.title()# viết hoa chữ cái đầu mỗi từ
)

### Làm sạch price: loại khoảng trắng, text.

**làm sạch price trong menu.csv**

In [9]:
menu["price"] = ( # price về chuỗi để xử lý
    menu["price"]
    .astype(str)
    .str.replace(r"[^\d.]", "", regex=True)#regex xóa mọi ký tự không phải số hoặc dấu chấm
    .str.strip()
)# \d chữ số từ 0-9,. số thập phân,[^ ] tất cae ký tự không thuộc nhóm
print(menu.head(15))

  product_id  product_name  price
0       CF01    Ca Phe Den  45000
1       CF02    Ca Phe Sua  35000
2       CF03      Bac  Xiu  35000
3       CF04       Tra Dao  45000
4       CF05  Sinh To Xoai     30
5       CF06  Matcha Latte  35000

### Làm sạch order_time, đưa về định dạng thống nhất.

In [10]:
order_log["order_time"] = pd.to_datetime(
    order_log["order_time"],
    errors="coerce"
)
print(order_log.head())

  order_id product_id          order_time qty
0   OD2000       CF05 2024-01-01 05:58:00  2x
1   OD2001       CF04 2024-01-01 11:45:00  2x
2   OD2002       CF03 2024-01-01 14:12:00   2
3   OD2003       CF03 2024-01-01 06:16:00   2
4   OD2004       CF02 2024-01-01 04:55:00   1

### Xử lý qty âm hoặc sai định dạng.

In [11]:
#Xóa các ký tự ''x'' ở dữ liệu qty để tránh lỗi định dạng chuyển về NaN
order_log["qty"] = (
    order_log["qty"]
    .astype(str)
    .str.extract(r"(-?\d+\.?\d*)")[0]   # trích số
    .astype(float)
)

# Lấy trị tuyệt đối đề phòng có dữ liệu âm
order_log["qty"] = order_log["qty"].abs()
# Kiểm tra lại kết quả

order_log.head(10)

  order_id product_id          order_time  qty
0   OD2000       CF05 2024-01-01 05:58:00  2.0
1   OD2001       CF04 2024-01-01 11:45:00  2.0
2   OD2002       CF03 2024-01-01 14:12:00  2.0
3   OD2003       CF03 2024-01-01 06:16:00  2.0
4   OD2004       CF02 2024-01-01 04:55:00  1.0
5   OD2005       CF05                 NaT  1.0
6   OD2006       CF02 2024-01-01 06:56:00  3.0
7   OD2007       CF01                 NaT  2.0
8   OD2008       CF06 2024-01-01 01:45:00  1.0
9   OD2009       CF06                 NaT  1.0

### Làm sạch unit_cost.

In [12]:
cost["unit_cost"] = (
    cost["unit_cost"]
    .astype(str)
    .str.replace(r"[^\d.]", "", regex=True)
)
cost["unit_cost"] = pd.to_numeric(cost["unit_cost"], errors="coerce")

###  Xuất 3 file sạch để dùng cho các nhiệm vụ sau.

In [13]:
menu.to_csv("menu_clean.csv", index=False)
order_log.to_csv("order_log_clean.csv", index=False)
cost.to_csv("cost_raw_material_clean.csv", index=False)